//Emmett is visual studio code autocomplete (like intellisense). with 1 line you can scope out entire html document
// https://docs.emmet.io/cheat-sheet/
//Programming ELI5 commenting convention 
//every element (or set) comes with a brief explanation/rationale for what it does and why
//typing ! and Tab will create basic html doc
//or html5 boilerplate for a more opinionated boilerplate (with script tags, browser conditionals) 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <!-- form>label+input creates a -->
    <form action=""><label for=""></label><input type="text"></form>
    
    
</body>

<style>

    h1{
        display: flex;
        
    }

</style>
</html>

 <style>
        .my-form {
          transition:all linear 0.5s;
          background: transparent;
        }
        .my-form.ng-invalid {
          background: red;
        }
       </style>